body {
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/01c881152375409.631cfe7c30533.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
  }

